* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.testimonial {
  width: 100%;
}
.testimonial__layout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.testimonial__layout__elements {
  width: 31%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F3F3;
}
.testimonial__layout__elements p {
  width: 70%;
  margin: auto;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #2D2D2D;
  margin-bottom: 30px;
}
.testimonial__layout__elements__footer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify-content;
      -ms-flex-pack: justify-content;
          justify-content: justify-content;
  gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.testimonial__layout__elements__footer__star h5 {
  font-family: "Epilogue";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #2D2D2D;
}
.testimonial__layout__elements__footer__star span {
  font-family: "Epilogue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #2D2D2D;
}